<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    const promiseRace = function (promises) {
      return new Promise(function (resolve, reject) {
        promises.forEach(item => {
          Promise.resolve(item).then(data => {
            resolve(data);
          }, err => {
            return reject(err)
          })
        })
      })
    }
    promiseRace([promise1, promise2, promise3]).then(res => {
      console.log(res);
    })
  </script>
</body>

</html>