<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>观察者模式</title>
</head>
<body>
  <script>
/**
 * 发布 － 订阅模式
 */
//定义一个新闻发布平台
//主要功能包括任务发布大厅(taskList)，以及订阅任务(subscribe)，发布任务(release)
let task = {
    taskList: {},
    subscribe(key, fn) {
        if (typeof this.taskList[key] === "undefined") {
            this.taskList[key] = []
        }
        this.taskList[key].push(fn) // 订阅的消息推送到调度中心
    },
    pubscribe(type, news) {
        let fns = this.taskList[type]
        // 如果调度中心没有这个资源，返回结束
        if (typeof fns === "undefined" || fns.length === 0) return;
        fns.forEach(fn => {
            fn(news);
        })
    },

}
console.log("----- 订阅 -----");
// 订阅 娱乐头条
task.subscribe('娱乐', val => {
    console.log('小王订阅的娱乐头条', JSON.stringify(val))
})
// 订阅 科技头条
task.subscribe('科技', val => {
    console.log('小刘订阅的科技头条', JSON.stringify(val))
})
// 订阅 历史头条
task.subscribe('历史', val => {
    console.log('小李订阅的历史头条', JSON.stringify(val))
})
/**
 * 系统推送头条
 */
console.log("----- 发布 -----");
task.pubscribe('娱乐', {
    title: "大衣哥给儿媳妇红包的言外之意",
    url: "https://www.toutiao.com/a6966769740203262478"
})
task.pubscribe('科技', {
    title: "192号段发放在即 中国广电5G渐近",
    url: "https://www.toutiao.com/a6966480940277334535"
})
task.pubscribe('历史', {
    title: "袁隆平的父母何许人也？",
    url: "https://www.toutiao.com/a6966099280075424267"
})

console.log("调度中心", task.taskList);
</script>
</body>
</html>